<div class="mb-10">
    <div  class="hero w-full h-[80vh] md:h-[50vh] bg-pink-400 flex justify-between items-start md:items-center z-10 absolute p-2">
        <div class="w-full md:w-1/2 mt-10 md:mt-0 flex flex-col items-center text-center gap-4 animate__animated animate__fadeInLeft">
             
            <h1 class="text-5xl font-bold text-white font-nail_2">Nail Simple and Beautyful</h1>
            <p class=" font-thin text-white w-1/2">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reiciendis quis neque perspiciatis nesciunt ipsum dolor qui delectus dolorem atque incidunt voluptatum, quisquam quae aliquid rem repellendus quaerat sint animi ullam!</p>
          
        </div>
    </div>
    <div class="flex justify-end">

        <img src="/images/hero.webp" alt="" width="45vh" height="80vh" class=" w-[45vh]  relative z-20 mt-96 md:mt-0 animate__animated animate__fadeInRight aspect-square" >
    </div>


</div>

<style>
  .hero{
    
    clip-path: polygon(0 1%, 100% 0, 100% 76%, 0% 100%);
  }

</style>