<div class=" p-2 w-full md:w-1/2  mx-auto flex flex-col gap-5 mt-[70vh] md:mt-0 sect">
        <h3 class="text-center text-3xl font-nail_2 text-black">Time Schedule</h3>
    <div class="flex justify-between border-b border-gray-500 p-2 border-dashed">
    
        <p class="font-semibold text-gray-500">Mon-Wed</p>
        
        <p class="font-serif font-bold">10:00 AM - 9:00 PM</p>
    </div>
    <div class="flex justify-between border-b border-gray-500 p-2 border-dashed">
    
        <p class="font-semibold text-gray-500">Mon-Wed</p>
        <p class="font-serif font-bold">10:00 AM - 9:00 PM</p>
    </div>
    <div class="flex justify-between border-b border-gray-500 p-2 border-dashed">
    
        <p class="font-semibold text-gray-500">Mon-Wed</p>
        <p class="font-serif font-bold">10:00 AM - 9:00 PM</p>
    </div>
</div>