


    <div class=" grid grid-cols-1 md:grid-cols-2 p-2 gap-5 mt-24 sect h-[35vh] items-center justify-center">
        <img src="/images/model.jpg" alt="" class="rounded w-full h-full">
        <div class=" text-center   ml-5 flex flex-col gap-5 ">
             <h3 class="text-2xl font-nail text-gray-400 font-semibold">get your shine</h3>
             <h2 class="text-4xl font-nail font-bold">title</h2>
             <p class=" w-full  text-center  text-gray-500 text-lg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta expedita quaerat facere amet officiis sed iusto, libero aliquid soluta eligendi rem maiores optio rerum ipsa temporibus minus sit! Facilis, cumque?</p>
        </div>
    </div>
