---
import {FiPhoneCall} from 'react-icons/fi'
---

<nav class=" h-[8vh]   p-2 flex justify-between items-center sticky top-0 z-30 bg-white">
    <div> <FiPhoneCall/> </div>
    <div>Logo</div>
    <span></span>

</nav>