---
import Navbar from "../components/navbar.astro";

---

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />
 
  <style is:global>
    @tailwind base;
    @tailwind components;
    @tailwind utilities;


    @font-face{
        font-family: 'Nails';
        src: url('/fonts/beauty.woff2') format('woff2'); 
        font-weight: 500;
          
    }
    @font-face{
        font-family: 'Nails-2';
        src: url('/fonts/beauty-2.woff2') format('woff2'); 
        font-weight: 500;
          
    

}

</style>
</head>
<body>
    <main >
        <Navbar/>
        <slot/>
    </main>

    <script>
    const observer = new IntersectionObserver((e)=>{
      e.forEach((obs)=>{
        if(obs.isIntersecting){
            obs.target.classList.add('animate__fadeInUp')
            obs.target.classList.add('animate__animated')

        }    
        
      })
    })
   
    const hidden = document.querySelectorAll('.sect')
    hidden.forEach((e)=>{
        console.log(e)
        observer.observe(e)
    } 
)

</script>
</body>
</html>


